.sidebar {
    width: 15%;
    background-color: #282a2a;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px 15px;
    position: fixed;
}

.title {
    color: #b9cccc;
    padding-left: 5px;
}

.sidebar-button {
    width: 100%;
    text-decoration: none;
    color: #b9cccc;
    padding: 15px 0px 15px 5px;
}

.sidebar-button:hover{
    background-color: #6a7171;
    text-decoration: none;
    color: aliceblue;
}