.wrapper {
    display: flex;
    width: 100%;
    padding-right: 100px;
}

.content {
    width: 100%;
}

.divider {
    width: 100%;
    border: 0.1px solid rgb(204, 204, 204);
}

.form__header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.form__title {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-content {
    display: flex;
}
.section {
    width: 50%;
}

.section label {
    padding-top: 10px;
}

.form__add {
    margin: 20px 0px 30px 0px;
}

.form__add select,
.form__add input,
.form__add textarea {
    display: inline-block;
    padding: 7px 15px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-btn {
    padding: 5px 15px;
    width: 400px;
    height: 40px;
    font-size: 16px;
    background-color: #438fa2;
    color: white;
    border: none;
    border-radius: 4px;
    align-self: center;
    margin-top: 20px;
}
