* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
.detail-container {
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    max-width: 1120px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.detail-container img {
    max-width: 410px;
    height: 600px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-image-wrapper {
    margin: 0;
    padding: 32px 0;
}

.product-image-wrapper:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.right-container {
    margin: 0;
    padding: 32px 0;
}

.infor-product {
    max-width: 410px;
    margin-top: 0px;
    height: fit-content;
}
.infor-product p {
    margin-top: 3px;
}

.buy-product {
    margin-top: 10px;
    max-width: 410px;
}
.buy-product p {
    margin-top: 5px;
}

.buy-product input[type="number"] {
    padding: 0px 0px;
    text-align: center;
    font-size: 1.1rem;
    margin: 10px 0px 20px 0px;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.buy-now {
    padding: 7px 20px;
    color: white;
    width: 400px;
    background-color: #ea2624;
    border: none;
    margin: 10px 0px;
    cursor: pointer;
}
.buy-now span {
    font-size: 1.3rem;
}

.add-to-cart {
    margin: 10px 0px 0px 0px;
    color: white;
    background-color: rgb(27, 80, 63);
    padding: 10px;
    width: 400px;
    border: none;
    cursor: pointer;
}
.add-to-cart img {
    width: 30px;
    height: 30px;
}
.add-to-cart span {
    font-size: 1.1rem;
    margin-left: 10px;
}
.hotline {
    margin-top: 15px;
}
.hotline img {
    margin: 0px;
}

.price {
    font-size: 1.2rem;
    color: #ea2624;
    font-weight: 600;
    margin: 5px 0px 20px 0px;
}
.guide {
    /* width: 60%;
    margin-left: 7%; */
    padding: 0 16px;
}
.guide h2 {
    margin: 10px 0px;
}
.guide p {
    margin: 10px 0px;
    font-size: 1.1rem;
}
.guide li {
    margin-top: 5px;
}
.divider {
    width: 100%;
    border: 0.5px solid black;
}

.rate-product {
    width: 100%;
    margin: 0;
    margin: 24px 0px;
}
.rate-product p {
    color: brown;
}
.rate-product h2 {
    margin: 10px 0px;
}
.rate-product input[type="submit"] {
    padding: 5px 15px;
    background-color: #ea2624;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:disabled {
    background-color: rgb(99, 99, 99);
}
.rate-product input[type="submit"]:disabled:hover {
    background-color: rgb(99, 99, 99);
}
.rate-product input[type="submit"]:hover {
    opacity: 0.5;
}

.rate-product input[type="number"] {
    margin-left: 20px;
    text-align: center;
    font-size: 1rem;
    width: 50px;
}
.rate-product textarea {
    width: 93%;
    margin-top: 10px;
    padding: 5px;
}
.comment {
    width: 90%;
    border: 1px solid brown;
    margin: 10px 0px;
    padding: 5px 20px;
}

#up-to-top {
    position: fixed;
    padding: 5px 10px;
    top: 87%;
    left: 85%;
    background-color: transparent;
    align-content: center;
    align-items: center;
    color: black;
}

#up-to-top img {
    width: 17px;
    height: 17px;
    margin-left: 27px;
}

#validateComment {
    font-size: 0.9rem;
    color: red;
    padding: 10px 0px;
}

.out-of-stock {
    padding: 7px 20px;
    color: rgb(255, 255, 255);
    width: 400px;
    background-color: rgb(104, 104, 104);
    border: none;
    margin: 10px 0px;
}
.out-of-stock span {
    font-size: 1.3rem;
}
@media only screen and (max-width: 850px) {
    .detail-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .detail-container {
        font-size: 0.8rem;
    }
    .detail-container img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .infor-product h1 {
        font-size: 1rem;
    }
    .buy-product {
        height: auto;
    }
    h2 {
        font-size: 1rem;
    }
    i {
        font-size: 1rem;
    }
    .price {
        font-size: 0.9rem;
    }
    .add-to-cart,
    .out-of-stock,
    .buy-now {
        padding: 5px 10px;
        width: 98%;
        border: none;
        margin: 10px 0px;
        font-size: 0.8rem;
        align-content: center;
    }
    .add-to-cart,
    .out-of-stock,
    .buy-now span {
        font-size: 1rem;
    }
    .guide {
        width: 100%;
    }
    .add-to-cart img {
        display: none;
    }
    .hotline {
        margin-top: 0px;
    }
    .hotline img {
        margin: 10px 0px 10px 10px;
    }
    .rate-product {
        width: 100%;
        margin-left: 10px;
    }
    .rate-product textarea {
        width: 100%;
        padding-bottom: 4px;
    }
    .comment {
        width: 100%;
    }
    #validateComment {
        font-size: 0.75rem;
    }
    #up-to-top {
        display: none;
    }
}
