* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container {
    padding: 16px 0;
}

.home-content {
    padding: 0 16px;
    max-width: 1120px;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.mySlides > img {
    height: 400px;
    width: 100%;
    vertical-align: middle;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: 900;
    font-size: 26px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    color: #ea2624;
    background-color: #f4f4ec;
}

.dot-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f4f4ec;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #ea2624;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.title {
    margin: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.product-list__title {
    margin: 16px 4px;
    font-weight: 700;
    font-size: 24px;
}

.product-list__title span {
    font-weight: 500;
    font-size: 16px;
    color: #ea2624;
}

.product-list,
.brand-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 32px 8px;
}
.product-item-row {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    text-transform: capitalize;
}

.product-item-row:hover,
.brand-item-row:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.product-item-row > a,
.brand-item-row {
    color: black;
    cursor: pointer;
}

.product-item-row img {
    max-width: 250px;
    height: 384.5px;
}

.product-item-row p {
    padding: 3px 10px;
}

.brand-item-row img {
    max-width: 150px;
}

.brand-container {
    height: 300px;
}

.price-pr {
    font-weight: 600;
    font-size: 0.95rem;
    color: red;
}

.image-wrapper {
    position: relative;
}

.see-detail {
    visibility: hidden;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 40px;
    color: white;
    font-weight: 700;
    line-height: 40px;
    background: rgba(193, 83, 82, 0.529);
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.image-wrapper img:hover + .see-detail,
.see-detail:hover {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 880px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        gap: 32px 8px;
    }
    .product-item-row img {
        max-height: 250px;
    }
    .product-item-row {
        font-size: 0.8rem;
    }
    .price-pr {
        font-size: 0.8rem;
    }
}
