* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-list-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1120px;
    padding: 16px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 32px 8px;
    margin: 24px 0;
}

.product-item-row {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.product-item-row:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.product-item-row > a {
    color: black;
    cursor: pointer;
}
.product-item-row p {
    padding: 3px 10px;
}

.product-item-row img {
    max-width: 250px;
    height: 384.5px;
}

.price-pr {
    font-weight: 600;
    font-size: 0.95rem;
    color: red;
}
.pagination {
    display: inline-block;
    margin: 24px auto;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #ea2624;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.filters-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

select {
    padding: 7px 20px 7px 12px;
    margin: 0;
    font-weight: 500;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #888;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
    color: #223254;
}
select:focus {
    border: 1px solid #223254;
}
select:hover {
    border: 2px solid rgb(24, 24, 24);
}

.submit-btn {
    font-size: 100%;
    cursor: pointer;
    background-color: #ffffff;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #888;
    padding: 8px 30px;
    text-align: center;
    margin-left: 24px;
    color: #223254;
}
.submit-btn:hover {
    background: #ebebeb;
}
.content-header,
.filters {
    margin: 0;
}

.content-header {
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 8px 38px 10px 0;
}

.content-header span {
    color: #ea2624;
}

.multi-select {
    margin: 0 24px 0 0;
}

.select-box {
    position: relative;
}

.select-box select {
    width: 100%;
}

.over-select {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: rgba(100, 100, 111, 0.2);
}

.checkbox-item-wrapper {
    position: absolute;
    padding: 8px 40px 8px 16px;
    background: white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10;
}

.image-wrapper {
    position: relative;
}

.see-detail {
    visibility: hidden;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 40px;
    color: white;
    font-weight: 700;
    line-height: 40px;
    background: rgba(193, 83, 82, 0.529);
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.image-wrapper img:hover + .see-detail,
.see-detail:hover {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 900px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
    }
    .product-item-row img {
        max-height: 200px;
    }
    .product-item-row {
        font-size: 0.8rem;
        height: 270px;
    }
    .price-pr {
        font-size: 0.8rem;
    }
    select {
        font-size: 0.9rem;
        padding: 7px 10px 7px 12px;
    }
    .submit-btn {
        font-size: 0.8rem;
    }
    .pagination {
        font-size: 0.8rem;
    }
}
