.purchase-infor {
    display: flex;
    flex-direction: row;
}

.purchase-infor img{
    width: 80px;
    height: 80px;
    margin: 0px;
}

.name-price {
    margin: 0px 15px;
}
.name-price span {
    padding-left: 650px;
    color: red;
    font-weight: 550;
}